<template>
  <v-footer app
    ><v-container>
      <v-layout column>
        <v-flex text-xs-center>
          Test
        </v-flex>
        <v-flex text-xs-center>
          Test
        </v-flex>
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
export default {};
</script>

<style>
</style>
