<template>
  <v-container>
    <v-layout text-xs-center wrap>
      <stream channel="idiotechgaming"></stream>
    </v-layout>
  </v-container>
</template>

<script>
import Stream from '@/components/Stream';

export default {
  components: {
    stream: Stream,
  },
  data: () => ({}),
};
</script>
