<template>
  <v-app>
    <grave-header />

    <v-content>
      <grave-home />
    </v-content>

    <grave-footer />
  </v-app>
</template>

<script>
import Header from '@/components/Header';
import Footer from '@/components/Footer';
import Home from '@/components/Home';

export default {
  components: {
    'grave-header': Header,
    'grave-footer': Footer,
    'grave-home': Home,
  },
};
</script>

<style>
</style>
