<template>
  <div>
    <iframe
      :src="playerLink"
      frameborder="0"
      allowfullscreen="true"
      scrolling="no"
      height="378"
      width="620"
    ></iframe
    ><a
      :href="channelLink"
      style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"
      >Watch live video from {{ channel }} on www.twitch.tv</a
    >
  </div>
</template>

<script>
export default {
  name: 'stream',
  props: {
    channel: String,
  },
  computed: {
    playerLink: function() {
      return `https://player.twitch.tv/?channel=${this.channel}`;
    },
    channelLink: function() {
      return `https://www.twitch.tv/${this.channel}?tt_content=text_link&tt_medium=live_embed`;
    },
  },
};
</script>

<style>
</style>
