<template>
  <layout></layout>
</template>

<script>
import Layout from '@/components/Layout';

export default {
  name: 'App',
  components: {
    layout: Layout,
  },
  data: () => ({
    //
  }),
};
</script>
